.page_container {
  display: flex;
  justify-content: stretch;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  width: 1280px;
  height: 768px;
  background-color: #fff;
}

.header {
  height: 80px;
  width: 100%;
  background: #ffffff;
  background-image: url(../../assets/images/logo.png);
  background-repeat: no-repeat;
  background-position: 55px 22px;
  /* box-shadow: 0px 1px 2px rgba(24, 28, 39, 0.04),
    0px 2px 4px rgba(24, 28, 39, 0.04), 0px 2px 2px rgba(24, 28, 39, 0.06); */
}

.section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: #f8f8fb;
  background-image: url(../../assets/images/BGimg.png);
  background-repeat: no-repeat;
  background-position: right 0;
  background-size: contain;
}

.formBox {
  width: 610px;
  height: 511px;
  background: #ffffff;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.05);
}
