.progressPercentsGreen {
  left: 1136px;
  font-family: Roboto, sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  letter-spacing: 0.01em;
  color: #181c27;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  border: 3px solid #33d69f;
  padding-left: 5px;
  margin-top: 12px;
}

.progressPercentsRed {
  left: 1136px;
  font-family: Roboto, sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  letter-spacing: 0.01em;
  color: #181c27;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  border: 3px solid #ff4c61;
  padding-left: 5px;
}
