.habits {
  height: 52px;
  width: 214px;
  border-bottom: 1px solid rgba(238, 240, 247, 0.1);
  font-size: 14px;
  line-height: 17px;
  align-items: center;
  letter-spacing: 0.01em;
  font-family: Montserrat, sans-serif;
  position: relative;
  background-color: rgba(55, 59, 83, 0.9);
  color: #a6acbe;
  padding-left: 30px;
  white-space: pre-line;
}

.habits::first-letter {
  text-transform: uppercase;
}

.iconsWrap {
  margin-left: 130px;
  position: absolute;
  top: 22px;
}

.form {
  width: 206px;
  background-color: rgba(55, 59, 83, 0);
}

.input {
  width: 198px;
  border: none;
  height: 20px;
  padding-left: 30px;
  color: #a6acbe;
  background-color: rgba(55, 59, 83, 0);
  outline: none;
  font-size: 15px;
  line-height: 17px;
  letter-spacing: 0.01em;
  font-family: Montserrat, sans-serif;
}
