table,
th,
td {
  /* padding: 10px; */
  /* height: 65px; */
  /* width: 37px; */
}

table {
  border-collapse: collapse;
  /* caption-side:bottom; */
}

.checkTable {
  height: 69px;
}

.box,
.boxDisabled {
  width: 37px;
  height: 65px;
  border: solid 1px #eef0f7;
  text-align: center;
  cursor: pointer;
}

.boxDisabled {
  cursor: not-allowed;
}

.box:nth-child(8),
.box:nth-child(15),
.box:nth-child(22),
.boxDisabled:nth-child(8),
.boxDisabled:nth-child(15),
.boxDisabled:nth-child(22) {
  border-right-color: rgba(255, 108, 0, 0.3);
}

.clear {
}

.progressWrap {
  width: 186px;
  display: flex;
  justify-content: center;
  border-bottom: solid 1px #eef0f7;
  height: 68px;
}
